@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#header{
    background-image: url('img2/Hefesto\ manual2.png');
    background-position: center center;
    height: 200px;
    margin-bottom: 50px;
}
#logs{
    display: flex; /*vai deixar no sentido horizontal*/
}
.div{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    font-weight: 700;
    margin-top: 8px;
}
#login{
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.616);
    margin-right: 10px;
    margin-left: 30px;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: 700;
    margin-top: 8px;
    text-decoration: none;
    transition-duration: .3s;
}
#login:hover{
    background-color: rgb(206, 206, 0);
    color: rgb(255, 255, 255);
    transition-duration: .3s;
    padding: 11px 32px;
}
.comeco{
    display: inline-block;
}
#introducao{
    position: absolute;
    margin: 90px 80px 100px 190px;
}
#introducao>p{
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    text-align: justify;
}
.pbot{
    padding-left: 45px;
    padding-top: 12px;
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 600;
}
.pbot>a{
    text-decoration: none;
    color: white;
}
.comeco>div{
    border-radius: 9px;
}
#botao1>a{
    color: white;
    text-decoration: none;
}
#botao2>a{
    color: white;
    text-decoration: none;
}
#botao1{
    width: 170px;
    height: 50px;
    background-image: linear-gradient(to right, #a200ff, #5144ff);
    margin: 100px 200px 30px 170px;
}
#botao2{
    width: 170px;
    height: 50px;
    background-image: linear-gradient(to right, #5144ff, #a200ff);
    margin: 30px 200px 200px 170px;
    
}
#botao1:hover{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(to right, #28218a, #57008a);
    border-radius: 9px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
}
#botao2:hover{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-image: linear-gradient(to right, #28218a, #57008a);
    border-radius: 9px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
}
nav{
    display: block;
}
nav>a{
    text-decoration: none;
    color: white;
    padding: 2px 5px 2px 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#section1{
    background-color: rgba(0, 0, 0, 0.925);
    height: 400px;
    padding-top: 1px;
}
#section1>h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin: 10px 0px 40px 20px;
}
#agrupar{
    display: flex; /*vai deixar no sentido horizontal*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.topicos{
    background-image: linear-gradient(to right, #a200ff, #5144ff);
    text-align: center;
    border-radius: 20px;
    margin:auto;
    width: 400px;
    height: 250px;
    padding: 30px 5px 5px 5px;
}
.topicos>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    height: 120px;
}
.topicos>h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#section1>article>p{
    color: white;
}
#rodapepng{
    width:350px;
    height: 350px;
}
#rodape{
    background-image: linear-gradient(to right, #5144ff, #a200ff);
    height: 670px;
}
.links>p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 65px;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.links{
    margin-bottom: 70px;
}
.prodape{
    margin-bottom: 70px;
}
.prodape>p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-left: 65px;
    color: white;
    margin-top: 5px;
}
#fim{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 65px;
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 0.9em;
    width: 1200px;
}